.logo {
    position: static;
    margin: 5%;
    display: flex;
    justify-content: flex-start;
}

body {
    font-family: system-ui;
    background: #060227;
    color: rgb(8, 8, 8);
    text-align: center;
    margin: 0%;
    width: 100%;
    height: 100%;
}

